@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=JetBrains+Mono:wght@400;500&display=swap');
@import "tailwindcss";

@theme {
  --color-bg: #0a0a0c;
  --color-panel: #141417;
  --color-accent: #f27d26;
  --color-border: #232328;
  --color-text-primary: #ffffff;
  --color-text-secondary: #8e9299;
  --color-text-muted: #4a4a4f;
  --font-sans: "Inter", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}
